<h1><%= @category.name %></h1>
  <ul>
  <!-- Add code here to list a category's posts. -->
  <% if @category.posts %>
    <% @category.posts.each do |post| %>
      <li>
      <%= link_to post.title, post_path(post) %>
      </li>
    <%end %>
  <%end%>
  </ul>








<!-- <h1><%= @category.name %></h1>

<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<ul>
  <% @category.posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ul> -->
